* {
margin: 0;
padding: 0;
}
  
#myInput {
    background-image: url('../svg/search.svg');
    background-position: 10px;
    background-repeat: no-repeat;
    width: 30vw;
    font-size: 16px;
    padding: 12px 20px 12px 45px;
    border: none;
    border-radius: 20rem;
}

ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 25px;
	padding: 25px;
}
ul li {
	
}
  
#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.banner {
	overflow: hidden;
}

.banner-search {
	color: white;
	font-weight: bold;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	width: 100%;
	height: 20rem;
	text-align: center;
}

.bg-overlay {
	box-sizing: border-box;
	position: absolute;
    top: 0%;
    left: 0%;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	width: 100%;
	height: 20rem;
	z-index: 2;
}

.bg-image {
	background-image: url('../img/example3.jpg');
	filter: blur(6px);

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 20rem;
}

h1 {
    padding-top: 5rem;
    margin-bottom: 2rem;
    font-family: 'Lora', serif;
	font-size: 5vw;
	color: #ffb6b6;
}

.green {
	color: #AACFCF;
}





.image-ratio {
	position: relative;
	overflow: hidden;
}
.image-ratio:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.image-ratio .ratio-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.image-ratio .ratio-inner img {
	min-height: 100%;
	background-size: cover;
}
.text-center {
	text-align: center;
}
p {
	font-weight: 400;
}
body {
	font-family: 'Nunito', sans-serif;
}
.page-title {
	color: #9a3299;
	margin: 0 0 5px;
}
.page-description {
	font-size: 16px;
	color: #777;
	margin: 0 0 20px;
}
.food-card {
	border-radius: 3px;
	overflow: hidden;	
	width: 100%;
	display: inline-block;
	margin: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.food-card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor: pointer;
}
.food-card .card {
	position: relative;
	text-align: left;
}
.food-card .card .cat-flag {
	position: absolute;
	top: 8px;
	left: -5px;
	z-index: 2;
	font-size: 16px;
	font-weight: 400;
	padding: 3px 5px 3px 5px;
	color: #fff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #26a;
}
.food-card .card .cat-flag:before, .food-card .card .cat-flag:after {
	content: '';
	display: block;
	position: absolute;
	right: 100%;
	border-right: 10px solid #26a;
}
.food-card .card .cat-flag:before {
	top: 0;
	border-bottom: 13px solid transparent;
	border-top: 0 solid transparent;
}
.food-card .card .cat-flag:after {
	bottom: 0;
	border-top: 13px solid transparent;
	border-bottom: 0 solid transparent;
}
.food-card .card .card-img {
	text-align: center;
	background-color: #000;
}
.food-card .card .card-img img {
	transition: transform 0.7s;
	opacity: 0.8;
	width: 100%;
}
.food-card .card:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: 70px;
	display: block;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0);
   /* IE6-9 */
}
.food-card .card .card-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	overflow: hidden;
}
.food-card .card .card-content .content {
	transition: transform 0.4s;
	transform: translateY(100%);
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0);
   /* IE6-9 */
}
.food-card .card .card-content .title {
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	transform: translateY(-200%);
	transition: transform 0.4s;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 15px 15px;
}
.food-card .card .card-content .description {
	padding: 0 16px;
	color: #fff;
	font-size: 16px;
	margin: 0;
}
.food-card .card:hover .card-content .content {
	padding-bottom: 15px;
	transform: translateY(0);
}
.food-card .card:hover .card-content .title {
	transform: translateY(0);
}

.ribbon {
	position: absolute;
	color: black;
	background-color: rgba(255, 255, 255, 0.7);
	line-height: 1.5;
	padding: 0 1rem;
	width: 120px;
	top: 30px;
	right: -40px;
	text-align: center;
	transform-origin: 50% 50%;
	transform: rotateZ(45deg);
}

