@keyframes fadeIn { 
	from {
		opacity: 0;
	} to { 
		opacity: 1;
	}
}


@media only screen and (max-width: 1000px) {
	.body {
		width: 100% !important;
		margin: 0 !important;
	}
	.grid-container {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media screen and (max-width: 1500px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr) !important;
	}
	.ribbon {
		width: 7vw !important;
	}
}


.title-search {
	left:50%;
   	top:50%;
   	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
}

#myInput {
	background-image: url('../svg/search.svg');
	background-size: 1.2vw;
    background-position: 10px;
    background-repeat: no-repeat;
    width: 20vw;
    font-size: 1vw;
    padding: .5vw .25vw .5vw 3vw;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#myInput:focus {
	border: 1px solid #4755AB;
	box-shadow: 0px 0px 5px 1px #4755AB;
}

.body, .header img:nth-child(2) {
	width: 50vw;
}

body {
	margin: 0;
}

.body {
	justify-content: center;
	display: flex;
	margin: 0 auto;
	margin: 5rem auto 5rem;
	flex-direction: column;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	animation: 1s fadeIn;
}

.header {
	position: relative;
	display: flex;
}

.header img {
	width: 100%;
    height: 100%;
}

.header h2 {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 6vw;
	margin-bottom: 1vw;
	color: #4755AB;
}

.card img {
	width: 100%;
    height: 100%;
}









.overlay {
	position: absolute;
	transition: 1s;
	z-index: 2;
}

.card {
	display: flex;
	position: relative;
	overflow: hidden;
	background: linear-gradient(rgb(252, 248, 245, 1), rgb(255, 255, 255, 1));
}

.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 2vw;
	grid-gap: 2vw;
	grid-template-columns: repeat(3, 1fr);
}

.two-column {
	grid-template-columns: repeat(2, 1fr) !important;
}

/* BACKGROUND */

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#bg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

* {
	 margin: 0;
	 padding: 0;
	 text-decoration: none;
	 outline: none;
	 border: none;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 -ms-box-sizing: border-box;
	 -o-box-sizing: border-box;
	 box-sizing: border-box;
	 transition: all .2s;
}

 img {
	 max-width: 100%;
}

 html, body {
	 height: 100%;
}

 body {
	 background: #2b2d42;
}

.grid-item a:link, a:hover { 
	color:black; 
	text-decoration: none !important; 
}

.wrapper h1 {
	font-size: 1vw;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: black;
}

.wrapper p {
	font-size: .75vw;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	color: black;
}

.wrapper {
	 display: block;
	 background: #fff;
	 position: relative;
	 margin: .25vw auto;
	 border: 1px solid #ccc;
}

.wrapper:hover {
	border: 1px solid #4755AB;
	box-shadow: 0px 0px 5px 1px #4755AB;
}

.wrapper .header {
	 height: auto;
	 opacity: 0.9;
	 color: black;
}

.wrapper .name {
	 font-size: 1vw;
	 text-align: center;
	 text-transform: uppercase;
	 padding: 1vw 1vw 0;
}

.wrapper .subtitle {
	font-size: .75vw !important;
	opacity: .5;
	font-size: 1vw;
	text-align: center;
	text-transform: uppercase;
	padding: 0vw 1vw .5vw;
}



.wrapper .border {
	 border: #4755AB 2px solid;
	 position: relative;
	 margin: .5vw auto;
	 width: 3vw;
}

.wrapper .info {
	 margin-top: -11px;
	 padding: 1vw;
}

*, *::before, *::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper::before{
	position: absolute;
	top:2rem;
	right:-0.5rem;
	content: '';
	background: #4755AB;
	height: 28px;
	width: 28px;
	transform : rotate(45deg);
  }
  
  .ribbon{
	z-index: 2;
	position: absolute;
	top: 11px;
	right: -14px;
	padding: 0.5rem;
	width: 5vw;
	background: #5655AC;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  }

